{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
      body{
        background-color: #f4f7f6;
        margin-top:20px;
        overflow-y: hidden;
    }


    .new{
            border: none;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
          }
          
    .new:hover {
    background-color: #0056b3;
    }

      chat-message-left,
      .chat-message-right {
          display: flex;
          flex-shrink: 0
      }

      .chat-message-left {
          margin-right: auto
      }

      .chat-message-right {
          flex-direction: row-reverse;
          margin-left: auto
      }

    .card {
        background: #fff;
        transition: .5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: .55rem;
        position: relative;
        width: 100%;
        height: 100vh;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    }
    .chat-app .people-list {
        width: 295px;
        {% comment %} position: absolute; {% endcomment %}
        left: 0;
        top: 0;
        padding: 10px;
        z-index: 7;
        overflow-y: scroll;
       
    }

    .chat-app .chat {
        margin-left: 300px;
        border-left: 1px solid #eaeaea
    }

    .people-list {
        width: 300px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 7;
        height:100vh;
        overflow-y: scroll;
  }

    .people-list .chat-list li {
        padding: 10px 10px;
        list-style: none;
        border-radius: 10px;
        overflow-y: auto; /* Ajout de la barre de défilement vertical uniquement à la liste des amis */
       
    }

    .people-list .chat-list li:hover {
        background: #efefef;
        cursor: pointer;
    }

    .people-list .chat-list li.active {
        background: #efefef;
    }

    .people-list .chat-list li .name {
        font-size: 15px;
    }

    .people-list .chat-list img {
        width: 45px;
        border-radius: 50%;
    }

    .people-list img {
        float: left;
        border-radius: 50%
    }

    .people-list .about {
        float: left;
        padding-left: 8px
    }

    .people-list .status {
        color: #999;
        font-size: 13px
    }


    .chat .chat-header {
        padding: 15px 20px;
        border-bottom: 1px solid #f4f7f6
    }

    .chat .chat-header img {
        float: left;
        border-radius: 40px;
        width: 40px
    }

    .chat .chat-header .chat-about {
        float: left;
        padding-left: 10px;
        font-size: 14px;
    }

    .chat .chat-history {
        padding: 20px;
        border-bottom: 2px solid #fff;
        overflow-y: auto; /* Ajout du défilement vertical */
        max-height: 400px;
    }

    .chat .chat-history ul {
        padding: 0
    }

    .chat .chat-history ul li {
        list-style: none;
        margin-bottom: 30px
    }

    .chat .chat-history ul li:last-child {
        margin-bottom: 0px
    }

    .chat .chat-history .message-data {
        margin-bottom: 15px
    }

    .chat .chat-history .message-data img {
        border-radius: 40px;
        width: 40px
    }

    .chat .chat-history .message-data-time {
        color: #434651;
        padding-left: 6px
    }

    .chat .chat-history .message {
        color: #444;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        display: inline-block;
        position: relative
    }

    .chat .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }

    .chat .chat-history .my-message {
        background: #efefef
    }

    .chat .chat-history .my-message:after {
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #efefef;
        border-width: 10px;
        margin-left: -10px
    }

    .chat .chat-history .other-message {
        background: #e8f1f3;
        text-align: right
    }

    .chat .chat-history .other-message:after {
        border-bottom-color: #e8f1f3;
        left: 93%
    }

    .chat .chat-message {
        padding: 20px
    }

    .online,
    .offline,
    .me {
        margin-right: 2px;
        font-size: 8px;
        vertical-align: middle
    }

    .online {
        color: #86c541
    }

    .offline {
        color: #e47297
    }

    .me {
        color: #1d8ecd
    }

    .float-right {
        float: right
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }

    @media only screen and (max-width: 767px) {
        .chat-app .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none
        }
        .chat-app .people-list.open {
            left: 0
        }
        .chat-app .chat {
            margin: 0
        }
        .chat-app .chat .chat-header {
            border-radius: 0.55rem 0.55rem 0 0
        }
        .chat-app .chat-history {
            height: 300px;
            overflow-x: auto
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .chat-app .chat-list {
            height: 650px;
            overflow-x: auto;
            overflow-y: scroll;

        }
        .chat-app .chat-history {
            height: 600px;
            overflow-x: auto
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        .chat-app .chat-list {
            height: 480px;
            overflow-x: auto;
            overflow-y: scroll;
        }
        .chat-app .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto
        }
    }

    {% comment %} .chat-app .chat-list{
      overflow-y: scroll;
      background:red;
    }
    .chat-app{
      background:green;
    } {% endcomment %}


    .chat-form {
      background-color: #fff;
      border-top: 1px solid #dee2e6;
      padding: 10px;
      width:100%;
      border-radius: 0 0 10px 10px;
      position: fixed; /* Position fixe */
      bottom: 0; /* Aligner en bas */
      {% comment %} left: 0; /* Aligner à gauche */ {% endcomment %}
      {% comment %} width: calc(100% - 280px); /* Largeur de 100% moins la largeur de la liste des personnes */  {% endcomment %}
      margin-top: 20px; /* Espacement supplémentaire par rapport au haut */
     


  }

  .chat-form .input-group {
      position: relative;
      display: flex;
      {% comment %} align-items: stretch; {% endcomment %}
      justify-content: space-between;
      width: 79%; 
  }

  .form-control {
    padding: 14px;
    border: 1px solid #ced4da;
    width:230px;
    border-radius:20px;

  } 


  .chat-form input[type="text"] {
      border-radius: 20px;
      padding: 15px;
      border: 1px solid #ced4da;
      width:850px;
      margin-left:20px
      
  }

  .chat-form button {
      border-radius: 20px;
      padding: 14px 20px;
      margin-left: 10px;
      background-color: #007bff;
      color: #ffffff;
      width: 150px;
      border: 1px solid #007bff;
      transition: background-color 0.3s ease;
  }

  .chat-form button:hover {
      background-color: #0056b3;
      border-color: #0056b3;
  }

  .input-group .icon {
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    color:blue;
    
    font-size : 25px;
}

.input-group .icon:hover{
  background: blue;
  color: white;
  border-radius: 12px;
}
.name{
    text-decoration:none;
    color:black;
    font-weight:bold;
    font-size:20px;
}

.rightSide{
  display:flex;
  justify-content: end;
  padding: 10px;
  
}

.rightSide .icons{
  padding: 25px;
  
}

.icon-btn {
    margin-right: 10px; /* Espace entre chaque icône */
    font-size:25px;
    
    border-radius: 12px;
    padding:15px;
}


</style>

<div class="container">
<div class="row clearfix">

    <div class="col-lg-12">
        <div class="card chat-app">
             <div id="plist" class="people-list">
            
                {% for message in messages %}
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li class="clearfix">
                        <a href="{% url 'directs' message.user.username %}">
                            {% if message.user.utilisateur.photo_profile  %}
                            <img src="{{message.user.utilisateur.photo_profile.url}}" alt="avatar" class="rounded-circle mr-1" alt="img" width="40" height="40">
                            {% endif %}
                            <div class="about">
                                <div class="name">{{message.user.username}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6 head">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                {% comment %} <img src="{{message.request.user.utilisateur.photo_profile.url}}" alt="avatar"> {% endcomment %}
                            </a>
                            <div class="chat-about">
                                <h5 class="m-b-0" style="font-size:15px">{{active_direct}}</h5>
                                {% comment %} <small>Last seen: 2 hours ago</small> {% endcomment %}
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right" style="display:flex; justify-content: end;">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary icon-btn"><i class="fa fa-video-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary icon-btn"><i class="fa fa-phone"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info icon-btn"><i class="fa fa-cog"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning icon-btn"><i class="fa fa-question-circle"></i></a>  
                            <a href="javascript:void(0);" class="btn btn-outline-warning icon-btn"><i class="fa fa-align-justify"></i></a>
                                              
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                  {% for direct in directs %}
                      {% if direct.sender == request.user %}
                        <ul class="m-b-0 chat-message-right">                       
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">{{ direct.date|date:"d M,Y" }}</span>
                                </div> 
                                <div class="message my-message" style="background-color: #0095F6; color: white;">{{ direct.body }}</div>
                            </li>
                        </ul>
                      {% else %}
                        <ul class="m-b-0  chat-message-left ">                       
                          <li class="clearfix">
                            <div class="message-data">
                                  <span class="message-data-time">{{direct.date|date:"d M,Y"}}</span>
                              </div> 
                              <div class="message my-message">{{direct.body}}</div>
                          </li>
                      </ul>
                      {% endif %}
                  {% endfor %}
                </div>
                <div class="flex-grow-0 py-3 px-4 border-top chat-form">
                  <form method="POST" role = 'form' action="{% url 'send-message' %}">
                      {% csrf_token %}
                      <div class="input-group">
                         <div class="input">
                          <input type="hidden" name="to_user" id="" value="{{active_direct}}">
                          <input name="body" type="text" class="form-control" placeholder="Type your message">
                         </div>
                          <div class = "rightSide">
                            {% comment %} <button class="btn btn-primary" type="submit" style="padding:15px; top:30px">
                               Send
                            </button> {% endcomment %}
                          <span class="icon"><i class="fa fa-file"></i></span>
                          <span class="icon"><i class="fa fa-camera"></i></span>
                          <span class="icon"><i class="fa fa-smile-o"></i></span>
                          <span class="icon"><i class="fa fa-microphone"></i></span>
                          </div>
                         
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}